$orange: #EEA240;
$white: #FFF;
$black: #000;
$black-2: rgba(0, 0, 0, .1);
$white-opacity: rgba(255, 255, 255, 0.5);
$light-blue: #009ADF;
$light-blue-3: #48CADC;
$light-blue-4: #7BC0CC;
$light-blue-5: #1ABBD2;
$light-blue-6: #4CAFBB;
$light-blue-7: #0092D4;
$light-blue-dark: #059;
$black: #000;
$black-dark-transparent: rgba(0,0,0,0.4);
$black-light: #222;
$black-light-2: #444;
$black-light-transparent: rgba(68,68,68,0.3);
$black-light-transparent-2: rgba(68,68,68,0.2);
$gray: #CCC;
$gray-2: #F8F8F8;
$gray-3: #9B9B9B;
$gray-4: #999;
$gray-5: rgba(197,197,197,0.5);
$gray-6: #979797;
$gray-light: #A1A1A1;
$gray-light-2: #EEE;
$gray-light-3: #B4B4B4;
$gray-light-4: #EBEBEB;
$gray-dark: #666;
$gray-dark-2: #444;
$gray-dark-3: #EEE;
$gray-dark-3-transparent: rgba($gray-dark-2, 0.1);
$gray-dark-4: #212121;
$gray-dark-5: #A2A2A2;
$shadow: rgba(221, 221, 221, 0.5);
$transparent: rgba(255, 255, 255, 0);
$red-dark: #EA4E4F;
$red-light-2: #F06661;
$red-light-2-hover: rgba(240, 102, 97, 0.2);
$red-light: #D0021B;
$red-google: #DB3236;
$blue-dark: #164161;
$blue-dark-2: #0F2C41;
$blue-dark-3: #164161;
$blue-dark-4: #3A579D;
$gray-dark: #4A4A4A;
$green: #589017;
$green-light: #41DE2A;
$light-blue-withgray: rgba(81,173,178,0.34);
$light-blue-withgray-2: rgba(81,173,178,0.5);
