@import '../../constants/colors.scss';
@import '../../constants/fonts.scss';
@import '../../constants/variables.scss';
@import './equalizer.scss';

*,
body {
  font-family: $fira;
  color: $gray-dark-2;
}

.gray {
  color: $gray-dark-3;
}

.gray-dark {
  color: $gray-dark-2;
}

.white {
  color: $white;
}

.red-dark {
  color: $red-dark;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.no-desktop {
  @media screen and (min-width: $min-desktop-width) {
    display: none;
  }
}
